.container {
    /*width: 1280px;*/
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    position: relative;
}

.mapWrapper {
    width: 80%;
    height: 80%;
}

.cardBlock {
    color: #4a4949;
    background: #ffffff;
    border: 2px solid #9d9c9c;
    width: 20%;
    height: 60%;
    position: absolute;
    top: 20%;
    right: 15%;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contactsBlock {
    /*margin-top: 35px;*/
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 17px;
}

.info {
    font-size: 18px;
    margin-top: 5px;
    color: black;
}